h1{
    font-size: 100px;
}
.nav-inverse{
    position: sticky;
    top: 0;
    z-index: 99999;
}
p{
    font-size: 25px;
}
#About{
    text-align: center;
}
#videos{
    text-align: center;
}
#contact{
    text-align: center;
}